
body, a {
    background-image:url("file://assets/images/memphis-colorful.png");
    color: #777777;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: bisque
}

 {
    width: 300px;
    border: 25px grey;
    padding: auto;
    margin: auto;
}

.clear {
    clear: both;
}

.header {
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.topnav {
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: #ffffff
}

.navbar {
    width: auto;
    border-color: #cccccc;
    background-color: #ffffff;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 0;
    left: 0px;
    right: 0px;
}

h1 {


}